.condition .contactConatiner{


    /* background:  var(--bgPrimary);
    background-size: cover;
    height: 100vh; */
    background: transparent;
    position: fixed;
    z-index: 2;
    left: 25vw;
top: 0vh;
width: 48vw;



}

.condition .wrapper {
    background: var(--nav-clr);
}


@media screen and (max-width : 361px) {

    .letter{
        font-size: 28px;
    }

    .contactConatiner{
        left: 20vw!important;
    }
    
}

