body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

::-webkit-scrollbar{
  width: 5px;
  height: 0.3rem;
}

::-webkit-scrollbar-track{
  background: var(--nav-clr);
}

::-webkit-scrollbar-thumb {
  background: var(--white-clr);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


:root{
  /* --nav-clr: linear-gradient(
    50deg,
    
        #ff9671,
    #ffc75f,
    #f9f871
  );; */

  --nav-clr : #161B22;
  --white-clr:white;
  --black-clr: black;
  /* --bgPrimary : radial-gradient( circle,rgb(255, 255, 255),#ffd6d6); */
  --bgPrimary : radial-gradient( circle,rgb(177, 174, 174),#0D1117);
  --btn-clr: tomato;
  --bg-nav: rgb(255 185 101 / 93%);
}

